<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hitsz.eatut">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowPostActivity"
            android:label="海报"></activity>
        <activity android:name=".ui.UserCenter_ui.ChangeUserInfoActivity"
            android:label="修改个人信息"/>
        <activity android:name=".ui.UserCenter_ui.AboutActivity"
            android:label="关于"></activity>
        <activity android:name=".ForgetPassword"
            android:label="忘记密码"/>
        <activity
            android:name=".SignUpActivity"
            android:label="注册" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".managerActivities.ManagerActivity"
            android:label="管理者界面" />
        <activity
            android:name=".managerActivities.EditActivity"
            android:label="食堂信息" />
        <activity
            android:name=".managerActivities.AddVoteActivity"
            android:label="发起投票" />
        <activity
            android:name=".ViewVoteActivity"
            android:label="参与投票" />
        <activity
            android:name=".managerActivities.FeedInfoActivity"
            android:label="反馈信息" />
        <activity
            android:name=".managerActivities.FeedbackActivity"
            android:label="意见反馈" />
        <activity
            android:name=".managerActivities.FeedShowActivity"
            android:label="您的反馈" />
        <activity
            android:name=".managerActivities.PostActivity"
            android:label="上传活动图片" />
        <activity
            android:name=".managerActivities.OrderActivity"
            android:label="订单信息" />
        <activity
            android:name=".managerActivities.AdvertisementActivity"
            android:label="推广信息" />
        <activity
            android:name=".managerActivities.AdddishActivity"
            android:label="增加菜品信息" />
        <activity
            android:name=".managerActivities.AddcanteenActivity"
            android:label="增加餐厅信息" />
        <activity
            android:name=".managerActivities.AddWindowActivity"
            android:label="增加档口信息" />
        <activity
            android:name=".managerActivities.DeletecanteenActivity"
            android:label="删除餐厅信息" />
        <activity
            android:name=".managerActivities.DeletewindowActivity"
            android:label="删除档口信息" />
        <activity
            android:name=".managerActivities.DeletedishActivity"
            android:label="删除菜品信息" />
        <activity
            android:name=".managerActivities.VotingResultActivity"
            android:label="查看投票结果"/>
        <activity
            android:name=".StatisticsActivity"
            android:label="统计" />
        <activity android:name=".CheckActivity"
            android:label="购物车"/>
        <activity android:name=".WindowActivity"
            android:label="档口"/>
        <activity android:name=".DishActivity"
            android:label="菜品"/>
        <activity android:name=".adActivity"
            android:label="活动"/>
        <activity android:name=".RankActivity"
            android:label="排行榜"/>
        <activity android:name=".CommentActivity"
            android:label="评论"/>
        <activity android:name=".RecentVisitActivity"
            android:label="最近浏览"/>    </application>

</manifest>